<h3>Unit: <%= @unit.unit_name %></h3>
<h4>Owner: <%= @user.username %></h4>
<h4>Members: <%= @unit.members %></h4>

<h2>Missions</h2>
<ul>
    <li>M2 Snakebite</li>
    <li>M4 Sandflats</li>
</ul>

<% if current_user.id == @unit.user_id %>
    <small><%= link_to "Add Member", units_path %></small></br>
    <small><%= link_to "Edit Unit", edit_unit_path(@unit) %></small></br>
    <small><%= link_to "Delete Unit", @unit, method: :delete, data: {confirm: "Are you sure?"} %></small>
<% end %>
